<div class="container">
    <div class="header text-center my-5">
        <h2>New Arrival</h2>
    </div>  

    <div class="row justify-content-center">

        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="../../../../assets/n-1.jpg" class="card-img-top " alt="">
                <div class="card-body">
                  <h5 class="card-title">Royal Oud</h5>
                  <p class="card-text">A luxurious and woody fragrance for the elite.</p>
                  <button class="btn custom-btn">View Details</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="../../../../assets/n-2.jpg" class="card-img-top " alt="">
                <div class="card-body">
                  <h5 class="card-title">Mystic Vanilla</h5>
                  <p class="card-text">A sweet and enchanting scent for dreamers.</p>
                    <button class="btn custom-btn">View Details</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="../../../../assets/n-4.jpg" class="card-img-top " alt="">
                <div class="card-body">
                  <h5 class="card-title">Dark Orchid</h5>
                  <p class="card-text">A deep and mysterious scent for the night.</p>
                    <button class="btn custom-btn">View Details</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="../../../../assets/n-5.jpg" class="card-img-top " alt="">
                <div class="card-body">
                  <h5 class="card-title">Sandalwood Noir</h5>
                  <p class="card-text">A rich and earthy fragrance for sophistication.</p>
                  <button class="btn custom-btn">View Details</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center my-4">

        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="../../../../assets/n-6.jpg" class="card-img-top " alt="">
                <div class="card-body">
                  <h5 class="card-title">Jasmine Dreams</h5>
                  <p class="card-text">A floral and romantic scent for elegance.</p>
                    <button class="btn custom-btn">View Details</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="../../../../assets/n-7.jpg" class="card-img-top " alt="">
                <div class="card-body">
                  <h5 class="card-title">Ocean Mist</h5>
                  <p class="card-text">A refreshing and aquatic fragrance for summer.</p>
                    <button class="btn custom-btn">View Details</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="../../../../assets/n-8.jpg" class="card-img-top " alt="">
                <div class="card-body">
                  <h5 class="card-title">Floral Elegence</h5>
                  <p class="card-text">A soft and romantic scent for everyday elegance.</p>
                    <button class="btn custom-btn">View Details</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card">
                <img src="../../../../assets/n-9.jpg" class="card-img-top " alt="">
                <div class="card-body">
                  <h5 class="card-title">Sandalwood Noir</h5>
                  <p class="card-text">A rich and earthy fragrance for sophistication.</p>
                  <button class="btn custom-btn">View Details</button>
                </div>
            </div>
        </div>

        
    </div>

    
</div>
