<div class="container">
    <div class="header text-center my-5">
        <h2>Best Seller</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-2 mb-4">
            <div class="product text-center">
                <img src="../../../../assets/p-1.jpg" alt="" class="img-fluid mb-3 best-seller-img">
                <h5 class="mb-4">Elegance Essence</h5>
                <button class="btn custom-btn">View Details</button>
            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="product text-center">
                <img src="../../../../assets/p-2.jpg" alt="" class="img-fluid mb-3 best-seller-img">
                <h5 class="mb-4">Golden Amber</h5>
                <button class="btn custom-btn">View Details</button>

            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="produc text-center">
                <img src="../../../../assets/p-3.jpg" alt="" class="img-fluid mb-3 best-seller-img"> 
                <h5 class="mb-4">Sunset Serenade</h5>
                <button class="btn custom-btn">View Details</button>

            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="product text-center">
                <img src="../../../../assets/p-4.jpg" alt="" class="img-fluid mb-3 best-seller-img">
                <h5 class="mb-4">Velvet Rose</h5>
                <button class="btn custom-btn">View Details</button>

            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="product text-center">
                <img src="../../../../assets/p-5.jpg" alt="" class="img-fluid mb-3 best-seller-img">
                <h5 class="mb-4">Midnight Mystique</h5>
                <button class="btn custom-btn">View Details</button>

            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="product text-center">
                <img src="../../../../assets/p-6.jpg" alt="" class="img-fluid mb-3 best-seller-img">
                <h5 class="mb-4">Ocean Breeze</h5>
                <button class="btn custom-btn">View Details</button>

            </div>
        </div>
    </div>
</div>
